.markdown-body {
  color: var(--fg);
  width: 65ch;
  font-size: 1.6rem;
  line-height: 1.75;
}
.markdown-body a {
  color: var(--fg-deeper);
  text-decoration: none;
  font-weight: 500;
}
.markdown-body strong {
  color: var(--fg-deep);
  font-weight: 600;
}
.markdown-body ol[type='A'] {
  --list-counter-style: upper-alpha;
}
.markdown-body ol[type='a'] {
  --list-counter-style: lower-alpha;
}
.markdown-body ol[type='A s'] {
  --list-counter-style: upper-alpha;
}
.markdown-body ol[type='a s'] {
  --list-counter-style: lower-alpha;
}
.markdown-body ol[type='I'] {
  --list-counter-style: upper-roman;
}
.markdown-body ol[type='i'] {
  --list-counter-style: lower-roman;
}
.markdown-body ol[type='I s'] {
  --list-counter-style: upper-roman;
}
.markdown-body ol[type='i s'] {
  --list-counter-style: lower-roman;
}
.markdown-body ol[type='1'] {
  --list-counter-style: decimal;
}
.markdown-body ol > li {
  position: relative;
  padding-left: 1.75em;
}
.markdown-body ol > li::before {
  content: counter(list-item, var(--list-counter-style, decimal)) '.';
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}
.markdown-body ul > li {
  position: relative;
  padding-left: 1.75em;
}
.markdown-body ul > li::before {
  content: '';
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}
.markdown-body hr {
  border-color: rgba(125, 125, 125, 0.3);
  margin-top: 3em;
  margin-bottom: 3em;
}
.markdown-body blockquote {
  font-weight: 500;
  font-style: italic;
  color: inherit;
  border-left-width: 0.25rem;
  border-color: rgba(125, 125, 125, 0.3);
  quotes: '\201C' '\201D' '\2018' '\2019';
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.markdown-body blockquote p:first-of-type::before {
  content: open-quote;
}
.markdown-body blockquote p:last-of-type::after {
  content: close-quote;
}
.markdown-body h1 {
  color: var(--fg-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.markdown-body h2 {
  color: var(--fg-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.markdown-body h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  opacity: 0.7;
}
.markdown-body h4 {
  color: inherit;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.markdown-body figure figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.markdown-body code {
  color: var(--fg-deep);
  font-weight: 600;
  font-size: 0.875em;
}
.markdown-body code::before {
  content: '`';
}
.markdown-body code::after {
  content: '`';
}
.markdown-body a code {
  color: #111827;
}
.markdown-body pre {
  color: #e5e7eb;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}
.markdown-body pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.markdown-body pre code::before {
  content: none;
}
.markdown-body pre code::after {
  content: none;
}
.markdown-body table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.markdown-body thead {
  color: var(--fg-deep);
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #8882;
}
.markdown-body thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.markdown-body tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #8882;
}
.markdown-body tbody tr:last-child {
  border-bottom-width: 0;
}
.markdown-body tbody td {
  vertical-align: top;
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.markdown-body p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.markdown-body img {
  margin-top: 2em;
  margin-bottom: 2em;
}
.markdown-body video {
  margin-top: 2em;
  margin-bottom: 2em;
}
.markdown-body figure {
  margin-top: 2em;
  margin-bottom: 2em;
}
.markdown-body figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body h2 code {
  font-size: 0.875em;
}
.markdown-body h3 code {
  font-size: 0.9em;
}
.markdown-body ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none;
}
.markdown-body ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  list-style-type: none;
}
.markdown-body li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.markdown-body > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.markdown-body > ol > li > *:first-child {
  margin-top: 1.25em;
}
.markdown-body > ol > li > *:last-child {
  margin-bottom: 1.25em;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.markdown-body hr + * {
  margin-top: 0;
}
.markdown-body h2 + * {
  margin-top: 0;
}
.markdown-body h3 + * {
  margin-top: 0;
}
.markdown-body h4 + * {
  margin-top: 0;
}
.markdown-body h6 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 2px;
}
.markdown-body thead th:first-child {
  padding-left: 0;
}
.markdown-body thead th:last-child {
  padding-right: 0;
}
.markdown-body tbody td:first-child {
  padding-left: 0;
}
.markdown-body tbody td:last-child {
  padding-right: 0;
}
.markdown-body > :first-child {
  margin-top: 0;
}
.markdown-body > :last-child {
  margin-bottom: 0;
}
.markdown-body b {
  color: var(--fg-deep);
}
.markdown-body em {
  color: inherit;
}
.header-anchor {
  opacity: 0;
  color: var(--fg);
}
h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 1;
}